Repository balena-os/balena-supervisor: changes, and which lint-staged commands are due for each by the changed paths.
All: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier, resin-lint --tests, resin-lint --typescript --no-prettier --tests

.lintstagedrc:

{
	"*.coffee": [
		"resin-lint"
	],
	"*.ts": [
		"prettier --config ./node_modules/resin-lint/config/.prettierrc --write",
		"resin-lint --typescript --no-prettier",
		"git add"
	],
	"test/**/*.coffee": [
		"resin-lint --tests"
	],
	"test/**/*.ts": [
		"resin-lint --typescript --no-prettier --tests"
	],
}

Dont error on a target state with multiple apps
  src/application-manager.coffee
Due: resin-lint

v10.6.35
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Switch to using resin-lint for automatic lint fixing
  .lintstagedrc
  package-lock.json
  package.json
Due: none

v10.6.36
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

v10.6.37
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Add a noinit option to sync-debug
  package-lock.json
  package.json
  sync-debug.js
Due: none

v10.7.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Clean up the feature label function
  src/compose/utils.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

Add procfs label
  src/compose/utils.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

Add a sysfs feature label
  src/compose/utils.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

v10.8.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Upgrade pretty-ms to pick up typings
  package-lock.json
  package.json
Due: none

Add UnwrappedPromise and DeepPartial types
  typings/global.d.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

Improve and extend internal typings
  src/types/state.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

Improve application-manager typings
  src/application-manager.d.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

Convert device-state module to typescript
  src/api-binder.ts
  src/application-manager.d.ts
  src/compose/composition-steps.ts
  src/compose/service.ts
  src/compose/types/service.ts
  src/device-api/v2.ts
  src/device-config.ts
  src/device-state.coffee
  src/device-state.d.ts
  src/device-state.ts
  src/device-state/preload.ts
  src/lib/migration.ts
  src/supervisor.ts
  src/target-state.ts
  test/05-device-state.spec.ts
  test/11-api-binder.spec.ts
  test/14-application-manager.spec.coffee
  test/22-api-binder.ts
Due: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier, resin-lint --tests, resin-lint --typescript --no-prettier --tests

Improve dependent and preload typings
  src/device-state.ts
  src/device-state/preload.ts
  src/types/state.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

Add blink pattern and timeout field configurability to /v1/blink route
  src/supervisor-api.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

Add delete route for /v1/blink
  src/supervisor-api.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

Add extended documentation on blink endpoint
  docs/API.md
Due: none

Start of application-manager conversion
  src/compose/step-generation.ts
  src/types/state.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

Add a containerId request parameter for journal-logs api endpoint, and pass it along to journalctl process options.
  src/device-api/v2.ts
  src/lib/journald.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

Add unit test to ensure journalctl process is spawned with expected arguments.
  test/26-journald.spec.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier, resin-lint --typescript --no-prettier --tests

Make balena-sync optional
  package.json
Due: none

v10.9.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

v10.9.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

config: Support loading SSDT via ConfigFS
  src/config/backend.ts
  src/config/utils.ts
  src/device-config.ts
  test/13-device-config.spec.coffee
Due: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier, resin-lint --tests

v10.9.2
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Allow l4t versions with three numbers as well as two
  src/lib/os-release.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

Allow semver comparison on l4t versions in contracts
  src/lib/os-release.ts
  test/24-contracts.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier, resin-lint --typescript --no-prettier --tests

v10.10.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Remove max number of threads limit per container
  src/compose/service.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

Update dependencies
  package-lock.json
  package.json
  src/application-manager.coffee
  src/application-manager.d.ts
  webpack.config.js
Due: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier
