Repository balena-os/balena-supervisor: changes, and which lint-staged commands are due for each by the changed paths.
All: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier, resin-lint --tests, resin-lint --typescript --no-prettier --tests

Add support for container contracts
  package-lock.json
  src/api-binder.ts
  src/application-manager.coffee
  src/compose/service.ts
  src/device-state.coffee
  src/lib/contracts.ts
  src/lib/errors.ts
  src/lib/os-release.ts
  src/supervisor.ts
  test/24-contracts.ts
Due: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier, resin-lint --typescript --no-prettier --tests

Upgrade io-ts and fp-ts to 2.0.0
  package-lock.json
  package.json
  src/api-binder.ts
  src/compose/service-manager.ts
  src/config/index.ts
  src/config/types.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

v10.4.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Correctly validate container contracts
  src/api-binder.ts
  src/application-manager.coffee
Due: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

v10.4.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Add a cache around the database application target state
  src/application-manager.coffee
  src/target-state.ts
Due: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

v10.5.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Temporary commit
  src/compose/application.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

Ensure that we reset rate limits after a successful target apply
  src/device-config.ts
  src/device-state.coffee
Due: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

v10.5.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

v10.5.2
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Convert some coffeescript tests to typescript
  package-lock.json
  package.json
  src/application-manager.d.ts
  src/device-state.d.ts
  src/lib/validation.ts
  test/00-init.coffee
  test/00-init.ts
  test/01-constants.spec.coffee
  test/01-constants.spec.ts
  test/02-db.spec.coffee
  test/02-db.spec.ts
  test/03-config.spec.coffee
  test/03-config.spec.ts
  test/04-service.spec.coffee
  test/04-service.spec.ts
  test/05-device-state.spec.coffee
  test/05-device-state.spec.ts
  test/06-iptables.spec.coffee
  test/06-iptables.spec.ts
  test/07-validation.spec.coffee
  test/07-validation.spec.ts
  test/08-blink.spec.coffee
  test/08-blink.spec.ts
  test/09-event-tracker.spec.coffee
  test/09-event-tracker.spec.ts
  test/10-network.spec.ts
  test/11-api-binder.spec.coffee
  test/11-api-binder.spec.ts
  test/lib/application-manager-test-states.coffee
  test/lib/application-manager-test-states.ts
  test/lib/chai-config.coffee
  test/lib/chai-config.ts
  test/lib/mocked-balena-api.coffee
  test/lib/mocked-balena-api.ts
  test/lib/prepare.coffee
  test/lib/prepare.ts
Due: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier, resin-lint --tests, resin-lint --typescript --no-prettier --tests

v10.5.3
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

docs: update lockfile Python snippet
  docs/update-locking.md
Due: none

v10.5.4
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

v10.5.5
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

env: expose osVariant as environment variable
  src/compose/service.ts
  src/compose/types/service.ts
  src/config/functions.ts
  src/config/schema-type.ts
  src/lib/os-release.ts
  test/04-service.spec.ts
  test/data/docker-states/entrypoint/imageInfo.json
  test/data/docker-states/entrypoint/inspect.json
  test/data/docker-states/network-mode-service/inspect.json
  test/data/docker-states/simple/inspect.json
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier, resin-lint --typescript --no-prettier --tests

Ensure that we reset rate limits after a successful target apply
  repo.yml
  src/device-config.ts
  src/device-state.coffee
Due: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

v9.15.11
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Support optional containers based on their contract
  src/application-manager.coffee
  src/lib/contracts.ts
  test/24-contracts.ts
Due: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier, resin-lint --typescript --no-prettier --tests

Report any optional containers that aren't being run
  src/application-manager.coffee
  src/lib/contracts.ts
Due: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

v10.6.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

event-tracker: Use std mixpanel types
  src/event-tracker.ts
  test/09-event-tracker.spec.ts
  typings/mixpanel.d.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier, resin-lint --typescript --no-prettier --tests

v10.6.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Upgrade typescript to 3.7
  package-lock.json
  package.json
Due: none

Define TargetApplicationState in types and remove Application type
  src/types/application.ts
  src/types/state.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

Define the database type of the application
  src/types/state.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

Extract loadTargetFromFile function to preload module
  src/application-manager.d.ts
  src/compose/images.ts
  src/device-state.coffee
  src/device-state.d.ts
  src/device-state/preload.ts
  src/lib/errors.ts
  src/lib/migration.ts
  test/05-device-state.spec.ts
Due: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier, resin-lint --typescript --no-prettier --tests

v10.6.2
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Perform validation on contract requirements
  src/lib/contracts.ts
  test/24-contracts.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier, resin-lint --typescript --no-prettier --tests

Extract normaliseLegacy as normalise to migration module
  src/device-state.coffee
  src/lib/errors.ts
  src/lib/migration.ts
  src/supervisor.ts
Due: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

v10.6.3
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Check if appId is a number before purging
  src/device-api/v2.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

v10.6.4
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Fix dindctl unknown arg error message
  dindctl
Due: none

Fix dindctl when run from another dir
  dindctl
Due: none

Allow specifying an absolute path for the dind config.json
  Makefile
Due: none

v10.6.5
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Switch to balenaos-in-container
  .gitmodules
  Makefile
  README.md
  dindctl
  docs/update-locking.md
  src/config/configJson.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

Path conditions:
  resin-lint: any of: *.coffee
  prettier --config ./node_modules/resin-lint/config/.prettierrc --write: any of: *.ts
  resin-lint --typescript --no-prettier: any of: *.ts
  resin-lint --tests: any of: test/**/*.coffee
  resin-lint --typescript --no-prettier --tests: any of: test/**/*.ts
