Repository balena-os/balena-supervisor: changes, and which lint-staged commands are due for each by the changed paths.
All: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier, resin-lint --tests, resin-lint --typescript --no-prettier --tests

.lintstagedrc:

{
	"*.coffee": [
		"resin-lint"
	],
	"*.ts": [
		"prettier --config ./node_modules/resin-lint/config/.prettierrc --write",
		"resin-lint --typescript --no-prettier",
		"git add"
	],
	"test/**/*.coffee": [
		"resin-lint --tests"
	],
	"test/**/*.ts": [
		"resin-lint --typescript --no-prettier --tests"
	],
}

v10.6.6
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Rebase start-resin-supervisor on latest meta-balena
  tools/dind/start-resin-supervisor
Due: none

v10.6.7
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Upgrade prettier to include support for typescript 3.7 syntax
  package.json
Due: none

Regenerate package-lock file
  package-lock.json
Due: none

Run new prettier on code base
  src/api-binder.ts
  src/compose/composition-steps.ts
  src/compose/images.ts
  src/compose/service-manager.ts
  src/compose/service.ts
  src/compose/utils.ts
  src/config/backend.ts
  src/config/index.ts
  src/device-config.ts
  src/lib/docker-utils.ts
  src/lib/migration.ts
  src/logging/balena-backend.ts
  src/logging/container.ts
  test/23-local-mode.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier, resin-lint --typescript --no-prettier --tests

Extract backup logic to migration
  package-lock.json
  package.json
  src/api-binder.ts
  src/device-state.coffee
  src/device-state.d.ts
  src/lib/errors.ts
  src/lib/migration.ts
Due: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

v10.6.8
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Create config.txt if there isn't one already
  src/config/backend.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

Refactor code to use async/await syntax
  src/config/backend.ts
  test/13-device-config.spec.coffee
Due: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier, resin-lint --tests

Do not polute test output with unncessarry stack trace
  test/23-local-mode.ts
  test/lib/errors.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier, resin-lint --typescript --no-prettier --tests

v10.6.9
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

v10.6.10
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

v10.6.11
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Fix retrieval of container log timestamp from db
  src/logging/monitor.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

v10.6.12
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Add compatibility changes for knex upgrade
  src/compose/images.ts
  src/config/index.ts
  src/db.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

Update migrations to be compatible with knex upgrade
  src/migrations/20171129013519_legacy.js
  src/migrations/20171129064057_multicontainer.js
  src/migrations/20171214172530_image_docker_id.js
  src/migrations/20180516164000-endpoint-specific-apps.js
  src/migrations/20181907164000-endpoint-specific-logschannel.js
  src/migrations/20190619152500-engine-snapshot.js
  src/migrations/M00000.js
  src/migrations/M00001.js
  src/migrations/M00002.js
  src/migrations/M00003.js
  src/migrations/M00004.js
Due: none

Fix typo in image selection
  src/compose/images.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

wip
  Makefile
  tools/dind/balena-os-sysctl.conf
  tools/dind/fake.service
  tools/dind/start-resin-supervisor
  tools/dind/true
Due: none

v9.15.12
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Upgrade prettier and resin-lint
  package-lock.json
Due: none

Consider linux4tegra versions in container contracts
  package.json
  src/application-manager.coffee
  src/lib/contracts.ts
  src/lib/os-release.ts
  test/24-contracts.ts
Due: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier, resin-lint --typescript --no-prettier --tests

v10.6.13
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Add regression test for app manager init
  test/14-application-manager.spec.coffee
Due: resin-lint, resin-lint --tests

v10.6.14
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Handle cancelDelay not being a function
  src/device-state.coffee
Due: resin-lint

v10.6.15
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

codeowners: Add richbayliss as a code owner
  .github/CODEOWNERS
Due: none

v10.6.16
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

tmp
  src/target-state.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

Set a mock l4t version for use with optional containers
  src/lib/contracts.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

v10.6.17
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

volumes: Allow the use of the 'driver' setting in volumes
  src/application-manager.coffee
  src/compose/volume.ts
  test/20-compose-volume.ts
Due: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier, resin-lint --typescript --no-prettier --tests

v10.6.18
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Always filter environment configuration
  src/compose/service.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

v10.6.19
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Hide init method in configJson
  src/config/configJson.ts
  src/config/index.ts
  test/data/foo.json
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

v10.6.20
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none
