Repository balena-os/balena-supervisor: changes, and which lint-staged commands are due for each by the changed paths.
All: resin-lint, resin-lint --typescript --fix, resin-lint --tests, resin-lint --typescript --no-prettier --tests

.lintstagedrc:

{
	"*.coffee": [
		"resin-lint"
	],
	"*.ts": [
		"resin-lint --typescript --fix",
	],
	"test/**/*.coffee": [
		"resin-lint --tests"
	],
	"test/**/*.ts": [
		"resin-lint --typescript --no-prettier --tests"
	],
}

v10.10.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

v10.10.2
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

logging: fix up some typos
  src/lib/docker-utils.ts
Due: resin-lint --typescript --fix

v10.10.3
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

docs: Clarify update locks for multicontainer applications
  docs/update-locking.md
Due: none

v10.10.4
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Tests: Add missing await
  test/05-device-state.spec.ts
Due: resin-lint --typescript --fix, resin-lint --typescript --no-prettier --tests

v10.10.5
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Update to balena-lint and enable javascript linting
  .lintstagedrc
  package-lock.json
  package.json
  src/migrations/20171129013519_legacy.js
  src/migrations/20171129064057_multicontainer.js
  src/migrations/20171214172530_image_docker_id.js
  src/migrations/20180516164000-endpoint-specific-apps.js
  src/migrations/20181907164000-endpoint-specific-logschannel.js
  src/migrations/20190619152500-engine-snapshot.js
  src/migrations/M00000.js
  src/migrations/M00001.js
  src/migrations/M00002.js
  tslint.json
  webpack.config.js
Due: none

Add a precheck that linting/tests work on node 10
  Dockerfile
  circle.yml
  package.json
Due: none

Add transpilation for javascript files to ease node 6 compatibility
  package.json
  tsconfig.json
  webpack.config.js
Due: none

v10.10.6
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Avoid any transpilation of node_modules
  tsconfig.release.json
  webpack.config.js
Due: none

v10.10.7
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Pin resin-cli-visuals to avoid build error of lzma-native
  package-lock.json
  package.json
Due: none

Update dependencies
  package-lock.json
  package.json
  src/compose/service-manager.ts
Due: resin-lint --typescript --fix

v10.10.8
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Add type checking for javascript files
  .lintstagedrc
  package.json
  src/compose/images.ts
  src/device-api/v2.ts
  src/device-state.ts
  src/host-config.ts
  src/migrations/20171129013519_legacy.js
  src/migrations/20171129064057_multicontainer.js
  src/migrations/20171214172530_image_docker_id.js
  src/migrations/20180516164000-endpoint-specific-apps.js
  src/migrations/20181907164000-endpoint-specific-logschannel.js
  src/migrations/20190619152500-engine-snapshot.js
  src/migrations/M00000.js
  src/migrations/M00001.js
  src/migrations/M00002.js
  src/migrations/M00003.js
  src/migrations/M00004.js
  tsconfig.js.json
Due: resin-lint --typescript --fix

v10.10.9
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Update livepush
  package-lock.json
  package.json
  sync-debug.js
Due: none

v10.10.10
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Convert device-api/v1 to javascript
  src/device-api/v1.coffee
  src/device-api/v1.js
  src/lib/validation.ts
Due: resin-lint, resin-lint --typescript --fix

v10.10.11
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Switch to a named export for application-manager
  src/application-manager.coffee
  src/application-manager.d.ts
  src/compose/composition-steps.ts
  src/device-api/v2.ts
  src/device-state.ts
  src/lib/migration.ts
  src/target-state.ts
Due: resin-lint, resin-lint --typescript --fix

Improve types used by application-manager
  src/compose/composition-steps.ts
  src/compose/images.ts
  src/device-api/common.d.ts
  src/lib/docker-utils.ts
Due: resin-lint --typescript --fix

Remove unnecessary code from application-manager
  src/application-manager.coffee
Due: resin-lint

v10.10.12
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Convert proxyvisor to javascript
  package.json
  src/application-manager.coffee
  src/lib/request.ts
  src/proxyvisor.coffee
  src/proxyvisor.js
Due: resin-lint, resin-lint --typescript --fix

Switch to mz for the proxyvisor
  src/proxyvisor.js
Due: none

v10.10.13
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Convert src/device-api/common.coffee to javascript
  src/device-api/common.coffee
  src/device-api/common.js
Due: resin-lint

v10.10.14
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Don't throw an error when getting an unhealthy state
  src/supervisor-api.ts
Due: resin-lint --typescript --fix

v10.10.15
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Add BALENA_DEVICE_ARCH environment variable for containers
  src/compose/service.ts
  src/compose/types/service.ts
  src/config/functions.ts
  src/config/schema-type.ts
  src/device-api/v2.ts
  test/04-service.spec.ts
  test/data/docker-states/entrypoint/imageInfo.json
  test/data/docker-states/entrypoint/inspect.json
  test/data/docker-states/network-mode-service/imageInfo.json
  test/data/docker-states/network-mode-service/inspect.json
  test/data/docker-states/simple/imageInfo.json
  test/data/docker-states/simple/inspect.json
Due: resin-lint --typescript --fix, resin-lint --typescript --no-prettier --tests

v10.11.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

🔧 Update resin-lint -> balena-lint in lintstaged
  .lintstagedrc
Due: none

v10.11.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Pass in deviceId when fetching device tags
  src/api-binder.ts
  src/device-api/v2.ts
Due: resin-lint --typescript --fix

v10.11.2
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none
