Repository balena-os/balena-supervisor: changes, and which lint-staged commands are due for each by the changed paths.
All: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier, resin-lint --tests, resin-lint --typescript --no-prettier --tests

Tmp
  package-lock.json
  package.json
  src/compose/service-manager.ts
  src/compose/service.ts
  src/compose/utils.ts
  src/lib/dev-mount.ts
  src/lib/errors.ts
  typings/mknod.d.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

Add script for events audit
  automation/audit-collected-events.js
Due: none

device-api: fix up small typos
  src/device-api/v2.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

v10.0.2
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix: Don't consider volume supervised labels when comparing
  src/compose/volume.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

v10.0.3
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Fix cache usage for builds
  automation/build.sh
Due: none

Minimise the amount of cache busted by a changed ARG
  Dockerfile
  Dockerfile.debug
Due: none

Do intermediate build pushing in parallel
  automation/build.sh
Due: none

Run image cleanup in parallel
  automation/build.sh
Due: none

Reduce differences between the debug and standard dockerfiles
  Dockerfile.debug
Due: none

Remove the dummy node-build step for debug images
  Dockerfile.debug
  automation/build.sh
Due: none

Fix installing the specified npm version in debug builds
  Dockerfile.debug
Due: none

Avoid unnecessary else in Makefile
  Makefile
Due: none

Pre-emptively pull required images in parallel
  automation/build.sh
Due: none

docs: Add some internal documentation on some supervisor models
  docs/internal/device-state.md
  docs/internal/image-management.md
  docs/internal/supervisor.md
  src/application-manager.coffee
  src/device-state.coffee
Due: resin-lint

v10.0.4
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix: Always reboot when applying boot config
  src/device-config.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

v10.0.5
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Support network_modes of service:<servicename>
  src/application-manager.coffee
  src/compose/service-manager.ts
  src/compose/service.ts
  src/device-state.coffee
  test/04-service.spec.coffee
  test/14-application-manager.spec.coffee
  test/21-device-api.ts
  test/data/docker-states/network-mode-service/compose.json
  test/data/docker-states/network-mode-service/imageInfo.json
  test/data/docker-states/network-mode-service/inspect.json
Due: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier, resin-lint --tests, resin-lint --typescript --no-prettier --tests

v10.1.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Fix invocation of livepush with sync-debug
  sync-debug.js
Due: none

v10.1.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

api: Perform network checks if device is unmanaged
  src/device-state.coffee
Due: resin-lint

v10.1.2
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

docs: update APPID to BALENA_APP_ID as exposed from the env
  docs/API.md
Due: none

v10.1.3
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Prevent supervisor from deleting itself
  src/lib/constants.ts
  src/local-mode.ts
  test/local-mode-spec.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier, resin-lint --typescript --no-prettier --tests

Use typed error to report inspection problems
  src/lib/errors.ts
  src/local-mode.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

Filter both null and omitted values
  src/local-mode.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

v10.1.4
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

api: Avoid cloneDeep when copying target state.
  src/device-api/v2.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

v10.1.5
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Add an endpoint and module for reading journald logs
  docs/API.md
  src/device-api/v2.ts
  src/lib/journald.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

v10.2.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Fix version documentation for journald endpoint
  docs/API.md
Due: none

v10.2.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

docs: fix up typo "sucess" -> "success"
  docs/API.md
Due: none

v10.2.2
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

meta: remove pcarranzav as codeowner
  .github/CODEOWNERS
Due: none

Path conditions:
  resin-lint: any of: *.coffee
  prettier --config ./node_modules/resin-lint/config/.prettierrc --write: any of: *.ts
  resin-lint --typescript --no-prettier: any of: *.ts
  resin-lint --tests: any of: test/**/*.coffee
  resin-lint --typescript --no-prettier --tests: any of: test/**/*.ts
