Repository balena-os/balena-supervisor: changes, and which lint-staged commands are due for each by the changed paths.
All: resin-lint, resin-lint --tests, resin-lint --typescript --no-prettier --tests

Convert test/12-logger.spec.coffee to javascript
  test/12-logger.spec.coffee
  test/12-logger.spec.js
  tsconfig.js.json
  tsconfig.json
  tsconfig.release.json
Due: resin-lint, resin-lint --tests

Convert test/15-conversions.spec.coffee to javascript
  test/15-conversions.spec.coffee
  test/15-conversions.spec.js
Due: resin-lint, resin-lint --tests

Convert test/16-ports.spec.coffee to typescript
  src/compose/ports.ts
  test/16-ports.spec.coffee
  test/16-ports.spec.ts
Due: resin-lint, resin-lint --tests, resin-lint --typescript --no-prettier --tests

Convert test/17-config-utils.spec.coffee to javascript
  test/17-config-utils.spec.coffee
  test/17-config-utils.spec.js
Due: resin-lint, resin-lint --tests

Convert test/18-compose-network.coffee to javascript
  src/compose/network.ts
  test/18-compose-network.coffee
  test/18-compose-network.js
Due: resin-lint, resin-lint --tests

Convert test/19-compose-utils.coffee to javascript
  test/19-compose-utils.coffee
  test/19-compose-utils.js
Due: resin-lint, resin-lint --tests

Convert test/18-startup.coffee to typescript
  test/18-startup.coffee
  test/18-startup.ts
Due: resin-lint, resin-lint --tests, resin-lint --typescript --no-prettier --tests

v10.11.3
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

🔧 Move to an alpine base image and drop i386-nlp support
  Dockerfile
  Dockerfile.debug
  Makefile
  automation/build.sh
  automation/deploy-to-balena-cloud.js
  automation/package.json
  automation/pr-to-meta-resin.sh
  build-conf/node-sums.txt
  circle.yml
  entry.sh
  retry_docker_push.sh
Due: none

📖 Update README with sync information
  README.md
  automation/build.sh
  sync-debug.js
  tools/dind/sync.js
Due: none

⚡ Update synchronisation scripts for supervisor development
  Dockerfile
  entry.sh
  package-lock.json
  package.json
  sync/device.ts
  sync/init.ts
  sync/livepush.ts
  sync/logs.ts
  sync/sync.ts
  tools/sync.js
Due: none

v11.0.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Don't mangle names when minimising with webpack
  package-lock.json
  package.json
  webpack.config.js
Due: none

v11.0.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Update to balena-register-device 6.0.1
  package-lock.json
  package.json
  src/api-binder.ts
  src/config/index.ts
  src/lib/register-device.ts
  test/03-config.spec.ts
  typings/balena-register-device.d.ts
  typings/resin-register-device.d.ts
Due: resin-lint --typescript --no-prettier --tests

v11.0.2
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Allow spaces in volume definitions
  src/compose/service.ts
  test/04-service.spec.ts
Due: resin-lint --typescript --no-prettier --tests

v11.0.3
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Don't wrap UpdatesLockedErrors with a detailed error
  src/device-state.ts
Due: none

v11.0.4
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Add newTargetState event and use it for backup loading
  src/api-binder.ts
  src/device-state.ts
  src/event-bus.ts
Due: none

v11.0.5
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Don't sync test files with livepush
  sync/livepush.ts
  sync/sync.ts
Due: none

v11.0.6
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Convert application-manager.coffee to javascript
  entry.sh
  package.json
  src/application-manager.coffee
  src/application-manager.d.ts
  src/application-manager.js
  src/compose/images.ts
  src/device-api/v2.ts
  src/device-state.ts
  src/device-state/preload.ts
  src/lib/validation.ts
  src/supervisor.ts
  src/target-state.ts
  test/05-device-state.spec.ts
  test/11-api-binder.spec.ts
  test/14-application-manager.spec.coffee
Due: resin-lint, resin-lint --tests, resin-lint --typescript --no-prettier --tests

v11.0.7
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Link sqlite with a system sqlite for quicker builds
  Dockerfile
Due: none

v11.0.8
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Workaround a circular dependency
  src/api-binder.ts
  src/supervisor.ts
  test/11-api-binder.spec.ts
Due: resin-lint --typescript --no-prettier --tests

v11.0.9
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Support matching on device type within contracts
  src/application-manager.js
  src/lib/contracts.ts
  src/supervisor.ts
  test/05-device-state.spec.ts
  test/24-contracts.ts
Due: resin-lint --typescript --no-prettier --tests

v11.1.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Update fork-ts-checker-webpack-plugin to 4.x
  package-lock.json
  package.json
Due: none

Update ts-loader to 6.x
  package-lock.json
  package.json
Due: none

Update copy-webpack-plugin
  package-lock.json
  package.json
Due: none

v11.1.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

Add lockKeepTimeout
  src/config/schema-type.ts
  src/config/schema.ts
  src/device-config.ts
  test/05-device-state.spec.ts
  test/13-device-config.spec.coffee
Due: resin-lint, resin-lint --tests, resin-lint --typescript --no-prettier --tests

Keep track of existing locks when unlocking them using force
  src/application-manager.js
  src/lib/update-lock.ts
Due: none

Use keepLocks when purging data
  src/device-api/common.js
Due: none

Move from dbus-native to dbus
  Dockerfile
  package-lock.json
  package.json
  src/lib/systemd.ts
  test/00-init.ts
  webpack.config.js
Due: resin-lint --typescript --no-prettier --tests

Path conditions:
  resin-lint: any of: *.coffee
  resin-lint --tests: any of: test/**/*.coffee
  resin-lint --typescript --no-prettier --tests: any of: test/**/*.ts
