Repository balena-os/balena-supervisor: changes, and which lint-staged commands are due for each by the changed paths.
All: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier, resin-lint --tests, resin-lint --typescript --no-prettier --tests

.lintstagedrc:

{
	"*.coffee": [
		"resin-lint"
	],
	"*.ts": [
		"prettier --config ./node_modules/resin-lint/config/.prettierrc --write",
		"resin-lint --typescript --no-prettier",
		"git add"
	],
	"test/**/*.coffee": [
		"resin-lint --tests"
	],
	"test/**/*.ts": [
		"resin-lint --typescript --no-prettier --tests"
	],
}

v10.2.3
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Take order into account when comparing service config arrays
  src/compose/service.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

v10.2.4
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Only consider certain array fields without order
  src/compose/service.ts
  src/compose/utils.ts
  test/04-service.spec.coffee
Due: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier, resin-lint --tests

v10.2.5
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Remove unused local mode parameter from images.getAvailable
  src/compose/images.ts
  src/device-api/v2.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

Add default exports for Volume and Network modules
  src/compose/network.ts
  src/compose/service.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

Extract composition step work out to typescript compose module
  src/application-manager.coffee
  src/application-manager.d.ts
  src/compose/composition-steps.ts
Due: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

v10.2.6
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Correctly generate network or volume creation steps
  src/application-manager.coffee
Due: resin-lint

v10.2.7
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Update documentation and explicitly unpipe journald stream
  docs/API.md
  src/device-api/v2.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

Add journald format flag
  docs/API.md
  src/device-api/v2.ts
  src/lib/journald.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

Add usage example repo to documentation
  docs/API.md
Due: none

v10.3.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Pin debug builds to stretch base images to match non-debug builds
  Dockerfile.debug
Due: none

v10.3.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Remove unnecessary import from os-release module
  src/lib/os-release.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

Modification to unpacking volume backup
  src/device-state.coffee
Due: resin-lint

v10.3.2
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

entry.sh: conform to shellcheck syntax
  entry.sh
Due: none

v10.3.3
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

targetState update: set cancelDelay to reject (rather than calling the nonexistent function)
  src/device-state.coffee
Due: resin-lint

state update: set cancelDelay to true rather than calling the nonexistent fn
  src/device-state.coffee
Due: resin-lint

device-state: correctly call volume creation on backup restore step
  src/device-state.coffee
Due: resin-lint

v10.3.4
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Correctly handle partial IPAM configurations for networks
  src/compose/network.ts
  test/18-compose-network.coffee
Due: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier, resin-lint --tests

v10.3.5
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Explicitly remove volumes when purging
  src/device-api/common.coffee
Due: resin-lint

Catch and report cloud stream writing errors
  src/logging/balena-backend.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

v10.3.6
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

ping: move /ping out from authentication
  src/supervisor-api.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

v10.3.7
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Unify API errors processing
  src/api-binder.ts
  src/device-api/v1.coffee
  src/device-api/v2.ts
  src/supervisor-api.ts
Due: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

v10.3.8
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Remove obselete deployment scripts
  automation/deploy-to-balena-cloud.js
  automation/package.json
  automation/pr-to-meta-resin.sh
Due: none

Add a cache around the database application target state
  src/application-manager.coffee
  src/target-state.ts
Due: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

Add test number to test files name
  test/22-api-binder.ts
  test/23-local-mode.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier, resin-lint --typescript --no-prettier --tests

Avoid synchronous file accesses for os release info
  src/api-binder.ts
  src/lib/docker-utils.ts
  src/lib/os-release.ts
  src/lib/request.ts
  src/proxyvisor.coffee
Due: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

Add contract resolution code, which checks release requirements
  package-lock.json
  package.json
  src/lib/contracts.ts
  test/24-contracts.ts
  test/data/etc/os-release
  test/data/etc/os-release-novariant
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier, resin-lint --typescript --no-prettier --tests
