Repository balena-os/balena-supervisor: changes, and which lint-staged commands are due for each by the changed paths.
All: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier, resin-lint --tests, resin-lint --typescript --no-prettier --tests

.lintstagedrc:

{
	"*.coffee": [
		"resin-lint"
	],
	"*.ts": [
		"prettier --config ./node_modules/resin-lint/config/.prettierrc --write",
		"resin-lint --typescript --no-prettier",
		"git add"
	],
	"test/**/*.coffee": [
		"resin-lint --tests"
	],
	"test/**/*.ts": [
		"resin-lint --typescript --no-prettier --tests"
	],
}

Add steps info to applyState error message
  src/device-state.coffee
Due: resin-lint

v10.6.21
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix: ⬇️ Force a regular pull when moving from v2 to v3 deltas
  package-lock.json
  package.json
  src/lib/docker-utils.ts
  test/25-deltas.spec.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier, resin-lint --typescript --no-prettier --tests

v10.6.22
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Don't allow cross-app delta requests
  src/application-manager.coffee
Due: resin-lint

v10.6.23
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Always do a standard docker download on first pull
  src/application-manager.coffee
Due: resin-lint

v10.6.24
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Fix healthcheck on supervisor debug builds
  Dockerfile.debug
Due: none

v10.6.25
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Report the correct error when we cannot remove a network
  src/compose/network.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

v10.6.26
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Throttle state report patches to once per 10 seconds
  src/api-binder.ts
  src/lib/constants.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

v10.6.27
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Ensure that we always have the pi4 overlay assigned
  src/device-config.ts
  test/13-device-config.spec.coffee
Due: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier, resin-lint --tests

v10.6.28
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Add repo.yml
  repo.yml
Due: none

Check force to be truthy in v2 purge
  src/device-api/v2.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

Keep locks if purge is called
  src/application-manager.coffee
  src/device-api/common.coffee
  src/lib/update-lock.ts
Due: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

⌛Increase minimum backoff delay and use poll interval as max
  src/api-binder.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

❌Remove unnecessary awaits
  src/api-binder.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

v10.6.29
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Update types and fix issue with treating string as a number
  package-lock.json
  package.json
  src/device-api/v2.ts
  src/network.ts
  typings/global.d.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

Update lodash types
  package-lock.json
  package.json
  src/compose/images.ts
  src/lib/validation.ts
  src/types/state.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

Update knex types
  package-lock.json
  package.json
  src/db.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

v10.6.30
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Push all images in parallel for CI builds
  automation/build.sh
Due: none

Update the deprecated `reusable` key to `docker_layer_caching` for CI
  circle.yml
Due: none

Update docker used for CI builds
  circle.yml
Due: none

v10.6.31
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Set docker type and update CHANGELOG.md to the correct format
  CHANGELOG.md
  repo.yml
Due: none

v10.6.32
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Allow getting the target state when not in local mode
  docs/API.md
  src/device-api/v2.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

v10.6.33
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

bug: Delay sending logs until the device is provisioned
  src/api-binder.ts
  src/event-bus.ts
  src/logger.ts
  src/supervisor.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

v10.6.34
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: none

events: Switch config module to use global event bus
  src/application-manager.coffee
  src/config/index.ts
  src/device-state.coffee
  src/event-bus.ts
  src/local-mode.ts
  src/supervisor-api.ts
  src/target-state.ts
  test/03-config.spec.ts
Due: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier, resin-lint --typescript --no-prettier --tests
